.card{
    
    background-color: lightcoral;
    border: 1px solid gray;
    width:400px;
    border-radius: 10px;
    padding:10px;
    box-sizing: border-box;
    margin:24px;
    

}
.card img{
    height:200px;
    position: relative;
    left:80px;
}
.more-details-btn{
    padding:10px 40px;
    background-color: #ff9f43;
    font-size: 14px;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    color: #222f3e;
    font-weight: 500;
   
   
}
.more-details-btn:hover{
color:#576574;
}